<form [formGroup]="orderForm" (ngSubmit)="handleSubmit()">
  <ion-item>
    <ion-label position="stacked">Drink</ion-label>
    <ion-input type="text" formControlName="drink"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Quantity</ion-label>
    <ion-input type="number" formControlName="quantity"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Size</ion-label>
    <ion-input type="text" formControlName="size"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Ice</ion-label>
    <ion-input type="text" formControlName="ice"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Sugar</ion-label>
    <ion-input type="text" formControlName="sugar"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Toppings</ion-label>
    <ion-input type="text" formControlName="toppings"></ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" id="submit">{{buttonLabel}}</ion-button>
</form>
